// Cambridge Systematics styles

// general styles
h1, h2, h3 {
  font-family: $univers-cond;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: $dark-blue;
}


.menu {
  margin: 0;
  padding: 0;
  li.menu__item {
    list-style: none;
    a {

    }
  }
}

.header {
  padding-top:40px;
  position: relative;
  z-index: 2;
  #logo {
    box-sizing: border-box;
    padding-right: 20px;
    img {
      max-width: 260px;
    }
  }
  .region-header {
    div {
      margin: 0;
    }
    .secondary-menu {
      float: right;
      margin-bottom: 10px;
      .menu {
        font-family: $univers-cond-light;
        text-transform: uppercase;
        margin: 0;
        li {
          float: left;
          margin-left: 20px;
          a {
            color: $orange;
          }
        }
      }
    }
    .block-search {
      float: right;
      clear: right;
      .btn {
        background-color: $light-green;
        border: none;
        height: 25px;
        color: $white;
      }
      .form-item {
        display: block;
        float: left;
        input[type=text] {
          height: 25px;
          border: 1px $very-dark-blue solid;
        }
      }
    }
    .main-menu {
      position: absolute;
      bottom: -10px;
      right: 0;
      .block-title {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1rem;
        color: $light-blue;
        float: right;
        cursor: pointer;
        &:before {
          font-family: FontAwesome;
          content: '\f0c9';
          display: block;
          font-size: 55px;
        }
      }
      .menu {
        padding: 0;
        font-family: $univers-cond-light;
        text-transform: uppercase;
        li {
          text-transform: uppercase;
          a {
            display: block;
            padding: 5px 20px;
          }
          .menu {
            display: none;
            li {
              text-transform: none;
            }
          }
          &:hover {

            .menu {
              display: block;
            }
          }
        }

      }
    }
    @include desktop-max {
      .block-search, .secondary-menu {
        margin-right: 100px;
      }
      .main-menu {
        bottom: inherit;
        right: 20px;
        top: 50px;
        width: 50%;
        .menu {
          display: none;
          font-family: $univers;
          li {
            color: $white;
            border-bottom: 1px $white solid;
            display: table;
            width: 100%;
            background-color: $gray;
            a {
              color: $white;
              background-color: $light-green;
              display: block;
            }
            &.about {
              a {
                background-color: $light-green;
              }
              &.expanded {
                //background-color: darken($light-green, 10%);
              }
            }
            &.markets {
              a {
                background-color: $purple;
              }
              &.expanded {
                background-color: darken($purple, 10%);
              }
            }
            &.services-products {
              a {
                background-color: $dark-green;
              }
              &.expanded {
                background-color: darken($dark-green, 10%);
              }
            }
            &.publications {
              a {
                background-color: $dark-blue;
              }
              &.expanded {
                background-color: darken($dark-blue, 10%);
              }
            }
            &.insights {
              a {
                background-color: $light-blue;
              }
              &.expanded {
                background-color: darken($light-blue, 10%);
              }
            }
            &.contact {
              a {
                background-color: $orange;
              }
              &.expanded {
                background-color: darken($orange, 10%);
              }
            }
            &.expanded  {
              background-color: darken($light-green, 10%);
              > a {
                width: calc(100% - 40px);
                border-right: 1px $white solid;
              }
              &:after {
                content: "\f078"; font-family: 'FontAwesome';
                display: block;
                vertical-align: top;
                color: $white;
                display: table-cell;
                cursor: pointer;
                width: 25px;
                padding-top: 5px;
                padding-left: 10px;

              }
              &:hover:after {
                content: "\f077";
              }
            }
            &:hover {
              > a {
                border: none;
              }
              .menu {
                display: block;
                li {
                  border: none;
                  a {
                    background: none;
                  }
                }
              }
            }
          }
        }
        &.active {
          .menu {
            display: block;
          }
        }
      }

    }

    @include desktop {
      .main-menu {
        clear: both;
        .block-title {
          display: none;
        }
        .menu {
          li {
            float: left;
            display: block;
            width: auto;
            background: none;
            position: relative;
            font-size: 1.25rem;

            a {

            }
            &:hover {
              a {
                color: $white;
              }
            }
            &.expanded {
              &:after {
                display: none;
              }
            }
            &.contact {
              display: none;
            }
            .menu {
              background-color: $very-dark-blue;
              position: absolute;
              padding: 5px 20px;
              li {
                float: none;
                font-size: 14px;
                line-height: normal;
                margin-bottom: 5px;
                font-family: $univers;
                font-weight: bold;
                a {
                  color: $light-gray;
                  padding: 0;
                }
                &:hover, &.active {
                  > a {
                    color: $white;
                  }
                }
                .menu {
                  position: relative;
                  padding: 0;
                  li {
                    text-transform: none;
                    font-weight: normal;
                    a {
                    }
                    &.is-expanded {
                      > a {
                        &:after {
                          content: "+";
                          display: inline-block;
                          margin-left: 5px;
                        }
                      }
                      .menu {
                        display: none;
                        li {
                          font-family: $univers-cond-light;
                        }
                      }
                      &.active {
                        > a {
                          &:after {
                            content: "-";
                          }
                        }
                        .menu {
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:hover, &.active-trail {
              > a {
                color: $white;
              }
              &.about {
                > a {
                  background-color: $light-green;
                }
              }
              &.markets {
                > a {
                  background-color: $purple;
                }
              }
              &.services-products {
                > a {
                  background-color: $dark-green;
                }
              }
              &.publications {
                > a {
                  background-color: $dark-blue;
                }
              }
              &.insights {
                > a {
                  background-color: $light-blue;
                }
              }

            }
            &:hover {
              .menu {
                display: block;
              }

            }
          }
        }
      }

    }
  }
  @include mobile {
    #logo {
      img {
        max-width: 200px;
      }
    }
    .region-header {
      .main-menu {
        width: calc(100% - 36px);
      }
    }
  }

}
#main {
  color: $dark-gray;
  line-height: 1.5em;
  h1.page__title {
    line-height: 1em;
    margin-bottom: .5em;
  }
  p {
    margin-top: 0;
  }
  .breadcrumb {
    margin-top: -60px;
    height: 60px;
    font-size: .875em;
    clear: both;
    a {
    }

  }

  .region-sidebar-first {
    .sidebar-menu {
      border-top: 10px $light-green solid;
      .section-services-products & {
        border-top-color: $dark-green;
      }
      .section-markets & {
        border-top-color: $purple;
      }
      .section-publications & {
        border-top-color: $dark-blue;
      }
      .section-insights & {
        border-top-color: $light-blue;
      }
      a {

      }
      .block-title {
        font-family: $univers-cond-light;
        font-weight: normal;
        text-transform: uppercase;
        line-height: normal;
        padding: 5px 0;
        font-size: 1.4em;
      }
      .menu {
        font-family: $univers-light;
        li {
          border-top: 1px $gray solid;
          padding: 5px 0;
          font-size: 1.125rem;
          a {
            display: block;

          }
          &:last-child {
            border-bottom: 1px $gray solid;
          }
          .menu {
            font-family: $univers;
            li {
              font-size: .9375rem;
              border: none;
              line-height: 1.5em;
              padding: 0;
              a {
              }
              &.is-expanded {
                > a {
                  &:after {
                    content: "+";
                    display: inline-block;
                    margin-left: 5px;
                  }
                }
                .menu {
                  display: none;
                  li {
                    font-family: $univers-cond-light;
                  }
                }
                &.active {
                  > a {
                    &:after {
                      content: "-";
                    }
                  }
                  .menu {
                    display: block;
                  }
                }
              }
            }
          }

        }
      }
    }

  }
  .region-sidebar-second, .sidebar-block-style {
    color: $gray;
    .block-title {
      font-size: 18px;
      text-transform: uppercase;
      margin: 0;
    }
    h3 {
      font-size: 18px;
      margin-top: 0;
      color: $gray;
      font-weight: normal;
    }
    p {
      margin: 0;
    }
    .caption {
      font-size: .875rem;
    }
  }
  #content {
    padding-bottom: 20px;
    @include clearfix;
    h3 {
      color: $dark-blue;
      margin: 0;
    }
    .node {

    }
    .columns {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin: 0;
        padding-right:20px;
        box-sizing: border-box;
        &:last-child {
          padding: 0;
        }
      }
      p {
        margin: 0;
      }
    }

    @include tablet-min {
      .columns.col-3 {
        li {
          width: 33.3%;
        }

      }
    }

  }
  .save-share {
    clear: both;
    padding: 20px;
    .inner {
      text-align: right;
      .save, .share {
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 28px;
        color: $dark-blue;
        display: inline-block;
        margin-left: 40px;
        cursor: pointer;
        padding-top: 5px;
      }
      .save {
        background-image: url(../images/save_button.png);
      }
      .share {
        background-image: url(../images/share_button.png);
      }
    }
  }

}
#footer {
  background-color: $dark-blue;
  padding: 20px;
  color: $white;
  position: relative;
  .inner {
    @include clearfix;
  }
  a {
    color: $white;
  }
  p {
    margin: 0;
  }
  .social-links {
    text-align: right;
    .fa {
      padding: 10px 12px;
      background-color: $dark-gray;
      margin-left: 20px;
      display: inline-block;
    }
  }
  .copyright {
    position: absolute;
    bottom: 20px;
    right: 20px;

  }

  @include tablet-min {
    .block {
      float: left;
      width: 25%;
      box-sizing: border-box;
    }
  }

}

// home page styling
.front {
  #main {
    padding-top: 20px;
    p {
      margin: 0;
    }
    .readmore {
      a {
        font-weight: bold;
      }
    }
    #content {
      .help-form, .case-study {
        color: $white;
        background-size: cover;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        line-height: normal;
        .inner {
          max-width: 800px;
          margin: 0 auto;
        }

      }
      .help-form {
        background-image: url(../images/home_top_image.jpg);
        font-family: $univers-cond_light;
        font-size: 1.875em;
        padding: 40px;
        p.feature {
          font-family: $univers-light;
          font-size: 3rem;
          padding: 10px 0;
        }
        .btn {
          background-color: $light-green;
          border: none;
          height: 25px;
          width: 25px;
          color: $white;
          vertical-align: top;
          .fa {
            display: none;
          }
        }
        .form-item {
          margin: 0;
          display: block;
          input[type=text] {
            height: 25px;
          }
        }
      }
      .case-study {
        background-image: url(../images/home_case_study_image.jpg);
        font-size: 1.5em;
        line-height: 1.5em;
        .inner {
          max-width: 590px;
        }
        h3 {
          font-family: univers_cond_light;
          color: $white;
          text-transform: uppercase;
          margin-bottom: 10px;
          font-size: 1.875rem;
        }
        .title {
          font-weight: bold;
        }
      }
      .cs-sections {
        background-color: #f3f3f3;
        padding: 30px 75px;
        margin-bottom: 20px;
        @include clearfix;
        .section {
          padding: 35px;
          box-sizing: border-box;
          font-size: 1.5em;
          color: $white;
          background-color: $light-green;
          float: left;
          min-height: 350px;
          width: calc(33% - 30px);
          margin: 0 15px 30px 15px;
          line-height: 1.5em;
          &:last-child {
            margin-right: 0;
          }
          .title {
            font-family: univers_cond_light;
            color: $white;
            text-transform: uppercase;
            font-size: 1.875rem;
            line-height: normal;
          }
          .description {

          }
          .readmore {
            a {
              color: $white;
            }
          }
          &.markets {
            background-color: $purple;
          }
          &.services-products {
            background-color: $dark-green;
          }
          &.publications {
            background-color: $dark-blue;
          }
          &.insights {
            background-color: $light-blue;
          }
          &.contact {
            background-color: $orange;
          }
        }
      }
      .news-events {
        @include desktop {
          width: 66%;
          margin: 0 auto;
          @include clearfix;
        }
        .item {
          margin-bottom: 10px;
        }
      }
    }
  }
  @include mobile {
    #main {
      #content {
        .cs-sections {
          .section {
            width: 100%;
          }
        }
      }
    }
  }
  @include tablet {
    #main {
      #content {
        .cs-sections {
          .section {
            width: calc(50% - 30px);
          }
        }
      }
    }
  }
}

// products/services pages
.node-type-products-services {
  #main {
    #content {
      .node {
        @include desktop {
          .group-left {
            width: 66%;
            padding: 0;
          }
          .group-right {
            width: 34%;
            padding: 0 0px 0 32px;
          }
          &.group-one-column {
            .group-left {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// products/services list
#main {
  #content {
    .ps-term-list {
      .item-list {
        h3 {
          font-family: $univers-light;
          color: $white;
          background-color: $dark-blue;
          padding:10px 20px;
          position: relative;
          cursor: pointer;
          margin-bottom: 2px;
          .chevron {
            position: absolute;
            top: 15px;
            right: 40px;
          }
        }
        ul {
          display: none;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin: 0 0 20px 20px;
            padding: 0;
            p {
              margin: 0;
              display: inline;
            }
            a {
              font-weight: 600;
            }
            .case-study, .publication a {
              &:before {
                content: "|";
                display: inline-block;
                padding: 0 10px;
              }
            }
          }
        }
        &.active {
          ul {
            display: block;
          }
          h3 {
            background-color: $white;
            color: $dark-blue;
            .chevron {
              top: 0;
              &:before {
                top: 0;
                border-top-color: transparent;
                border-bottom-color: $dark-blue;
              }
              &:after {
                bottom: -3px;
                border-top-color: transparent;
                border-bottom-color: $white;
              }
            }
          }
        }
      }
    }
  }
}

// landing page styling
.node-type-landing-page {
  h1.page__title {
    display: none;
  }
  #main {
    .breadcrumb {
      display: none;
    }
    padding-top: 20px;
    .node {
      background-color: $light-green;
      color: $white;
      margin-bottom: 20px;
      display: table;
      .group-left, .group-right {
        padding: 0;
        float: none;
        display: table-cell;
        vertical-align: top;
      }

      p {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.5em;
      }
      h2 {
        margin-bottom: 0;
        font-size: 1.875rem;
      }
      img {
        display: block;
        visibility: hidden;
        width: 100%;
      }
      .group-left {
        .field {
          margin: 0px 20px;
        }
        .field-name-body {
          margin-bottom: 20px;
        }
      }
      .group-right {
        background-size: cover;
        background-position-x: center;
      }
    }
    .landing-page-subpages {
      .views-row, .fields-row {
        margin-bottom: 20px;
      }
      .views-field-title, .field-title {
        font-family: $univers-cond;
        font-size: 1.875em;
        line-height: 1.5em;
      }
      .views-field-body, .field-summary {
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }
  }
  &.section-services-products #main .node {
    background-color: $dark-green;
  }
  @include mobile {
    .node {
      .group-left {
        width: 66%;
      }
      .group-right {
        width: 34%;
      }
    }
    /*
    .group-left, .group-right {
      width: 100%;
    }
    */
  }
  @include tablet-min {
    #main {
      .node {

      }
    }
  }
  @include desktop {
    #main {
      .node {
        .group-left {
          //@include zen-grid-item(4, 1);
          width: 34%;
        }
        .group-right {
          //@include zen-grid-item(8, 5);
          width: 66%;
        }
      }
      .landing-page-subpages {
        @include zen-grid-item(9, 1);
        .views-row, .fields-row {
          float: left;
          box-sizing: border-box;
          width: 33.3%;
          padding-right: 30px;

          &:nth-child(4) {
            clear: both;
          }
        }
      }
      .insights-block {
        @include zen-grid-item(2, 11);
        h3 {
          color: $gray;
        }
      }
    }
  }
}

// custom chevron down arrow
.chevron {
  position: relative;
  display: block;
  height: 30px;/*height should be double border*/
  cursor: pointer;
  &:before, &:after {
    position: absolute;
    display: block;
    content: "";
    border: 15px solid transparent;/*adjust size*/
  }
  &:before {
    top: 0;
    border-top-color: $white;
  }
  &:after {
    top: -3px;
    border-top-color: $dark-blue;
  }
}